@model IEnumerable<WebApplication.Data.Entities.OrderDetailsTemp>

@{
    ViewBag.Title = "Temporary orders page";
}

<h2>Create</h2>

<p>
    <a asp-action="AddProduct" class="btn btn-success">Add Product</a>
    <a asp-action="ConfirmOrder" class="btn btn-primary" id="btnConfirm">Confirm Order</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td id="@item.Id">
                <a asp-action="Increase" asp-route-id="@item.Id" class="btn btn-warning">
                    <i class="fa fa-plus"></i>
                </a>
                <a asp-action="Decrease" asp-route-id="@item.Id" class="btn btn-info">
                    <i class="fa fa-minus"></i>
                </a>
                <a asp-action="DeleteItem" asp-route-id="@item.Id" class="btn btn-danger" id="btnDeleteItem">Delete</a>
            </td>
        </tr>
    }
    </tbody>

</table>

<div id="ConfirmDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm order</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-window-close"></i>
                </button>
            </div>

            <div class="modal-body">
                <p>Do you want to confirm the order?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesConfirm">Yes</button>
                <button type="button" class="btn bin-success" id="btnNoConfirm">No</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-window-close"></i>
                </button>
            </div>

            <div class="modal-body">
                <p>Do you want to delete product from order?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDelete">Yes</button>
                <button type="button" class="btn bin-success" id="btnNoDelete">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var id = 0;
        // show dialog
        $(document).ready(function() {
            $("#btnConfirm").click(function (){
                $("#ConfirmDialog").modal("show");
                return false;
            });

        // Hide dialog when no pressed

            $("#btnNoConfirm").click(function () {
                $("#ConfirmDialog").modal("hide");
                return false;
            });

        // Hide dialog when yes pressed and update url
            $("#btnYesConfirm").click(function () {
                $("#ConfirmDialog").modal("hide");
                location.href = "/Orders/ConfirmOrder";
            });

            $("a[id*=btnDeleteItem]").click(function () {
                id =$(this).parent()[0].id;
                $("#deleteDialog").modal("show");
                return false;
            });

            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal("hide");
                return false;
            });

            $("#btnYesDelete").click(function () {
                $("#deleteDialog").modal("hide");
                location.href = "/Orders/DeleteItem/" + id;
            });
        });
    </script>
}